<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <title>Twidder</title>
      <link rel="shortcut icon" href="">
      <script type=”text/view” id="profileview">
      <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Twidder</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#home" id="headerHome" onclick="return headerfunc(panelHome);">Home</a></li>
                <li><a href="#browse" id="headerBrowse" onclick="return headerfunc(panelBrowse);">Browse</a></li>
                <li><a href="#account" id="headerAccount" onclick="return headerfunc(panelAccount);">Account</a></li>
              </ul>
            </div>
          </div>
        </nav>


      <div id="fullPanel">
        <div class="panel" id="panelHome">
          <div class="container-fluid">
            <div class="row">
              <div class="personalSpaceElement col-lg-4 col-md-6 col-xs-12">
                <p class="personalInformation">Name: <span id="PIName"></span></p>
                <p class="personalInformation">Last name: <span id="PILastname"></span></p>
                <p class="personalInformation">City: <span id="PICity"></span></p>
                <p class="personalInformation">Gender: <span id="PIGender"></span></p>
                <p class="personalInformation">Country: <span id="PIcountry"></span></p>
                <p class="personalInformation">Email: <span id="PIEmail"></span></p>
              </div>

              <div class="col-lg-4 col-md-6 col-xs-12">
                <form class="wallInputTextElement" id="wallInputTextElement-h" >
                <p>How was your day?</p>
                <textarea class ="wallInputText" id="wallInputText-h" ondrop="drop(event)" ondragover="allowDrop(event)" cols="40" rows="5"></textarea>
                <button type="submit" id="wallTextButton-h">submit</button>
                </form>
                <button onclick="refreshWall_h()" id="refreshWall-h">refresh<button>
              </div>

              <div class="wall col-lg-4 col-xs-12" id="wall-h"></div>
            </div>
          </div>
        </div>

        <div class="panel" id="panelBrowse">
          <div class="container-fluid">
            <div class="row">
              <div class=" col-lg-2 col-md-4 col-xs-12">
                <div class="personalSpaceElement">
                  <p class="personalInformation">Name: <span id="PIName-b"></span></p>
                  <p class="personalInformation">Last name: <span id="PILastname-b"></span></p>
                  <p class="personalInformation">City: <span id="PICity-b"></span></p>
                  <p class="personalInformation">Gender: <span id="PIGender-b"></span></p>
                  <p class="personalInformation">Country: <span id="PIcountry-b"></span></p>
                  <p class="personalInformation">Email: <span id="PIEmail-b"></span></p>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-12">
                <form id="searchUser">
                  <input type="text" id="userToFind"></input>
                  <button type="submit" id="submit_botton_browse">search</button>
                </form>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-12">
                <form class="wallInputTextElement" id="wallInputTextElement-b">
                  <p>How was your day?</p>
                  <textarea class ="wallInputText" id="wallInputText-b" cols="40" rows="5" ondrop="drop(event)" ondragover="allowDrop(event)"></textarea>
                  <button type="submit" id="wallTextButton-b">submit</button>
                </form>
                <button onclick="refreshWall_b()" id="refreshWall-b">refresh</button>
              </div>
              <div class="wall col-xs-12" id="wall-b"></div>
            </div>
          </div>
        </div>

        <div class="panel" id="panelAccount">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-xs-12">
                <h1>AccountPanel</h1>
                <button onclick="signOutFunc()" id="signout_button" >Logout</button>
              </div>
              <div class="col-lg-2 col-md-6 col-xs-12">
                <form id="changePasswordElement">
                  <p>Change password:</p>
                  <div class="formElement">Old password <input type="password" id="change-old-password" required></div>
                  <div class="formElement">New password <input type="password" id="change-new-password" required></div>
                  <button type="submit" id="submit-change-pw">Change</button>
                  <div id="changePwMessage"></div>
                </form>
              </div> <!-- col -->
            </div> <!-- row -->
          </div> <!-- container -->
        </div> <!-- panel -->
      </div> <!-- fullpanel -->
    </div> <!-- full container -->
  </script>

      <script type=”text/view” id="welcomeview">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-12 visible-xs"><h2>Twidder</h2></div>
          <div id="L" class="col-lg-4 col-md-4 col-xs-12">
            <form id="login">
              <div class="formgroup">
                <label for="loginUsername">Email</label>
                <input type="email" class="form-control" id="loginUsername" placeholder="Email">
              </div>
              <div class="formgroup">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
              </div>
            <button type="submit" class="btn btn-default">Login</button>
            <div id="loginMessage"></div>
            </form>
          </div>
          <div id="LS" class="col-lg-4 col-md-4 hidden-xs"><img src="static/wimage.png" class="img-responsive"alt=""/></div>
          <div id="S" class="col-lg-4 col-md-4 col-xs-12">
            <h3>Sign up here</h3>
            <form id="signup">
              <div class="formgroup">
                <label for="firstnameInput">First name</label>
                <input type="text" class="form-control" id="firstnameInput" placeholder="First name">
              </div>
              <div class="form-group">
                <label for="familynameInput">Family name</label>
                <input type="text" class="form-control" id="familynameInput" placeholder="Family name">
              </div>
              <div class="form-group">
                <label for="genderInput">Gender</label>
                <select class="form-control" id="genderInput" selected="Male">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="cityInput">City</label>
                <input type="text" class="form-control" id="cityInput" placeholder="City">
              </div>
              <div class="form-group">
                <label for="countryInput">Country</label>
                <input type="text" class="form-control" id="countryInput" placeholder="Country">
              </div>
              <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="Email" class="form-control" id="emailInput" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" placeholder="Password">
              </div>
                <label for="signup-password-RE">Repeat PW</label>
                <input type="password" class="form-control" id="signup-password-RE" placeholder="Password again">
              <div class="form-group">
                <button type="submit" class="btn btn-default">Sign up</button>
              </div>
              <div id="pwMessage"></div>
              </div>
            </form>
          </div>

      </div>
      </script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

       <link href="static/client.css" type="text/css" rel="stylesheet">
       <script src="static/api.js" type="text/javascript"></script>
       <script src="static/client.js" type="text/javascript"></script>

       <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link href="static/overrideBootstrap.css" type="text/css" rel="stylesheet">
    </head>
    <body>
      <div id="clientviewer">
      </div>
    </body>
</html>
